html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.tableContainer {
  min-height: 100vh;
}

.side-bar{
  min-height: 100vh;
}

hr .custom-hr {
  border: 0;
  border-top: 1px solid red;
  background-color: red;
  margin: 1rem 0;
}